<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <!-- create top bar here (menuing, logo, like yt) -->
    <h1 class="d-flex justify-content-center mt-2 text-light">C</h1>
    <p class="d-flex justify-content-center text-light">A timeraiser project</p><br>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>