{% extends "base.html" %}
{% block title %}Conn-ect{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form action="/search" method="post">
                    {{sform.keywords.label}} <br>
                    {{sform.keywords}}
                    <div class="input-group-append">
                        {{sform.submit.label}} <br>
                        {{sform.submit}}
                    </div>
                </form>
            </div>
            <div class="col-6">
                <h3 class="d-flex justify-content-center mt-1 text-light">EVENTS</h3>
            </div>
            <div class="col-3 text-right">
                <a class="btn btn-primary mt-2" href="/event-create?page={{page}}" role="button">New Event</a>
            </div>
        </div>
    </div>
    {% for i in range(3) %}
        <div class="container rounded h-custom bg-light mt-3 text-light">
            {% if page*3 + i < evs.__len__() %}
                <div class="p-2">{{evs[page*3 + i]["name"]}}</div>
                <div class="p-2">At {{evs[page*3 + i]["place"]}}</div>
                <div class="p-2 mt-auto">{{evs[page*3 + i]["time"]}}</div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="container mt-1">
        <div class="row">
            <div class="col text-left mt-2">
                {% if page > 0 %}
                    <a class="btn btn-primary" href="/?page={{page-1}}" role="button">Prev Page</a>
                {% else %}
                    <a class="btn btn-secondary" href="/" role="button">Prev Page</a>
                {% endif %}
            </div>
            <div class="col-3">  
                <div class="d-flex justify-content-center align-content-center text-light">Page: {{page+1}}</div>
            </div>
            <div class="col text-right mt-2">
                <a class="btn btn-primary" href="/?page={{page+1}}" role="button">Next Page</a>
            </div>
        </div>
    </div>
{% endblock %}
