<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary mt-3 ml-3" href="/" role="button">Back</a>
        </div>
        <div class="col-6">  
            <form action="/" method="post">
                <h1 class="d-flex justify-content-center mt-2 text-light">C</h3>
                <p class="d-flex justify-content-center text-light">A timeraiser project</p>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
    
    
    <div class="container mt-3">
        <!-- change form to event creation stuff -->
        <form class="inline-block" action="/" method="post">
            <div class="form-group">
            <small id="what" class="form-text text-light">Please describe what event you plan to host.</small>
            <input type="text" name="Event Name" class="form-control" id="what" aria-describedby="what" placeholder="Describe your event">
            <small id="what" class="form-text text-light">Please tell us where you plan to host your event.</small>
            <input type="text" name="Event Place" class="form-control" id="where" aria-describedby="where" placeholder="Where is your event">
            <small id="what" class="form-text text-light">Please tell us when you plan to host your event. If you do not know yet, please provide a lettucemeet link.</small>
            <input type="text" name="Event Time" class="form-control" id="when" aria-describedby="when" placeholder="When is your event">            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>